<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Survey Builder - Choose Survey</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="/logout">Logout</a>
            <h1>Survey Builder</h1>
            <h2>Choose Survey</h2>
        </header>
        <main>
            <form action="/choosesurvey" method="post">
                <div>
                    <select name="survey">
                        <option value="survey1">Survey 1</option>
                    </select>
                </div>
                <div>
                    <div>
                        <button type="submit">Edit</button>
                    </div>
                </div>
            </form>
        </main>
  
    </body>
</html>