<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Survey Builder - Forgot Password</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Survey Builder</h1>
            <h2>Forgot Password</h2>
        </header>
        <main>
            <form action="/sendpassword" method="post">
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" required>
                </div>
                <div>
                    <div>
                        <button type="submit">Send Password</button>
                    </div>
                </div>
            </form>
        </main>
  
    </body>
</html>